@media (min-width: 992px) {

}

@media (max-width: 1080px){
.background{
    width: 510px;
    height: 485px;
}

.left__cont{
    width: 515px;
    height: 510px;
}
.left__title2{
    font-size: 22px;
}
.left__text{
    font-size: 14px;
}


}

@media (max-width: 850px){
    .search__img{
        padding: 12px;
        margin-left: 15px;
    }
}

@media (max-width: 1100px){
    .title__right{
        font-size: 52px;
    }

    .title__text{
        font-size: 13px;
    }

    .btn__cover{
        width: 233px;
        height: 50px;
        font-size: 15px;
    }
    
    .left__cont{
        width: 530px;
        height: 520px;
    }

}




    

@media (max-width: 1399.99px) {}

@media (max-width: 1199.99px) {
    .menu__link {
        font-size: 14px;
        margin-left: 45px;

    }

    .search__logo{
        padding: 13px;
    }

    .support__text{
        font-size: 13px;
        width: 165px;
        height: 45px;
    }

    .title{
       font-size: 52px;

    }

    .text__title{
       font-size: 18px;

    }
}

@media (max-width: 1050px){
    .title{
        font-size: 45px;
    }
    .text__title{
        font-size: 16px;
    }
    .support__text{
        font-size: 11px;
        width: 155px;
        height: 35px;
    }
    .background{
        width: 480px;
        height: 465px;
    }
   
    
}

@media (max-width: 991.99px) {

    .res{
       font-size: 50px;

    }

    .bar1{
        font-size: 40px;
    }

    .bar2{
        font-size: 50px;
    }
    .bar3{
        font-size: 50px;
    }
    .text1{
        font-size: 12px;
    }
    .text2{
        font-size:12px ;
    }
    .text3{
        font-size:12px ;
    }
}

@media (max-width: 767.99px) {}

@media (max-width: 575.99px) {}